.contactContentSection {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.contactMeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-transparent);
  padding: 20px;
  color: white;
  border-radius: 10px;
  max-width: 80vw;
}
.emailCon {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.emailAndEnvWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  color: white;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 2px;
  text-decoration: none;
}
.emailAndEnvWrapper p {
  margin: 0 0 0 5px;
}
.env {
  font-size: 20px;
}
.contactContentSection h1 {
  margin-bottom: 0;
}
.linkWrapper {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .linkWrapper {
    flex-direction: row;
    height: fit-content;
    min-width: 300px;
    margin-top: 20px;
  }
}
