.introMessage {
  background-color: var(--dark-blue-transparent);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  margin: 50px auto;
  max-width: 90vw;
}
.introMessage h1,
.introMessage h2,
.introMessage h3 {
  margin: 10px auto;
}
.introMessage h1 {
  font-size: 80px;
  height: 80px;
}
.introMessage h2 {
  font-size: 50px;
}
.introMessage h3 {
  font-size: 32px;
}
@media (min-width: 601px) {
  .introMessage {
    padding: 30px;
    min-width: 540px;
  }
}
@media (min-width: 801px) {
  .introMessage {
    min-width: 740px;
  }
}
